<h2 class="m-0 pt-3 px-3"><%= @list.name %></h1>
<div class="flex-grow-1 p-3 overflow-y-auto overflow-x-hidden" style="scrollbar-width: none;">
  <div class="row g-3">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-6 col-sm-3">
        <div class="card h-100">
          <div class="poster-wrapper">
            <img src="<%= movie.poster_url %>" class="poster-image" alt="<%= movie.title %>">
          </div>
          <div class="p-3 h-100">
            <small class="">Rating: <%= movie.rating %></small><br>
            <small class="m-0 fw-bold">
              <%= movie.title %>
            </small>
          </div>
          <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger text-white w-100" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="flex-shrink-0 border-top d-flex flex-column gap-3 p-3">
  <%= link_to "Add movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  <%= link_to "Back", lists_path, class: "btn btn-primary" %>
</div>
