<!DOCTYPE html>
<html>
  <head>
    <title>Watchlister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "clapperboard.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta property="og:title" content="Watchlister: Track Your Favorite Movies">
    <meta property="og:description" content="Movie watchlists for every occasion!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://watchlister-530514487632.herokuapp.com">
    <meta property="og:image" content="https://watchlister-530514487632.herokuapp.com/images/watchlister-preview-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Watchlister app preview">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-7 p-0">
          <div class="h-screen-dvh d-flex flex-column">
            <div class="flex-shrink-0 border-bottom text-center p-3">
              <h1 class="m-0">Watchlister</h1>
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
              <% else %>
                <div class="d-flex justify-content-center gap-3">
                  <%= link_to "Login", new_user_session_path %>
                  <%= link_to "Sign up", new_user_registration_path %>
                </div>
              <% end %>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
