<!DOCTYPE html>
<html>
  <head>
    <title>Watchlister</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag "clapperboard.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta property="og:title" content="Watchlister: Track Your Favorite Movies">
    <meta property="og:description" content="Movie watchlists for every occasion!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://watchlister-530514487632.herokuapp.com">
    <meta property="og:image" content="https://watchlister-530514487632.herokuapp.com/images/watchlister-preview-image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:alt" content="Watchlister app preview">
  </head>
  <body>
    <div class="container">
      <div class="d-flex flex-column justify-content-center text-center p-3 gap-3">
        <h1>Watchlister</h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
